{% extends 'OlogySocialBundle:FrontEnd:base.html.twig' %}

{% block body %}
<br/><br/><br/><br/>
<div style="text-align: center">
    <img src="{{ asset('bundles/ologysocial/img/error.jpg') }}" />
</div>
{% endblock %}