{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip6" class="tips right">
    Use these buttons to add pictures, video, and audio to your posts.  You can add one attachment to each post.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}