{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip1" class="tips top">
    Click this icon to read comments and post new ones.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}