{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip17" class="tips top">
    This is your Dock! Any ology you join will be added here for quick and easy access.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}