{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip12" class="tips right">
    Have questions about Ology? These FAQs should help.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}