{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip16" class="tips top">
    Use this button to follow and unfollow ologies.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}