{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip8" class="tips top">
    Are your friends and family on Ology? Invite them to join the site or invite them to specific ologies that they might like.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}