{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip15" class="tips top">
    Get exclusive access to all the latest news, features, interviews and more from our team of professional editors.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}