{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip13" class="tips top">
    If you turn off all notifications, the only way you'll know about the latest in your ologies and new comments on your posts is by visiting this website. If you are totally, absolutely, 100% sure, bookmark us now! The internet's a big place.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}