{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip11" class="tips right">
    Check out these interesting ologies. Also, be sure to visit the Explore page to see the full list of ologies you can follow.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}