{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip9" class="tips top">
    Have a passion? Create your own ology! It's quick and easy.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}