{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip5" class="tips top">
    Posting (aka "ologizing") on Ology is simple! Click this box to share your stories, pictures, video, and more.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}