{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip4" class="tips tipsleft">
    Need to edit or delete your post?<br>
    1. Click the post title to get to the post page.<br>
    2. Use the links on the top right of the post page to "edit" or "x" (delete) your post.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}