{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip3" class="tips top">
    Click here to view and edit your profile.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}