{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip14" class="tips top">
    When you see "..." at the end of a post, click it to read more!
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>
            
{% endif %}