{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip2" class="tips tipsleft">
    "Want to share this post in a different ology? Just pick an ology from this list and hit the "reOlogize" button. Mission complete!<br><br>
    ReOlogizing allows you to take a post you see in one ology and share it in another ology that you follow. It's a great way to spread the word about posts you like."
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}