{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip7" class="tips right">
    Go to "Settings" to edit your profile and change any account information, including your password and email notifications.
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}