{% if app.user is not empty and app.user.tipsList is not empty %}

<div id="tip10" class="tips right">
    The "What's New" section helps you keep track of the latest activity in your ologies.  All new comments and posts are shown here. 
    <span class="tip-close">X</span>
    <a id="next-tip-button" class="next-tip">Next >></a>
</div>

{% endif %}