<div class="pro post pics ad-mio" style="background-color: white">
    <div style="text-align: center;">
        <a href="http://ad.doubleclick.net/clk;252559491;76198017;u">{{ image_tag(asset('bundles/ologysocial/img/ads/mio/sky.jpg')) }}</a>		
    </div>
</div>