<img src="{{ asset('bundles/ologysocial/img/emailheader.jpg') }}" />

<p>
{% block body %}{% endblock %}
</p>

Follow what you love,<br/>
The Ology Team.<br/><br/>

<p>Want to stop receiving these notifications? <a href='{unsubscribe}'>Click here to unsubscribe</a></p>

