<div id="footer">
    <div id="footer-center">
        <a href="http://www.ologycorp.com">About</a>
        <a href="http://ologycorp.com/content/advertisers">Advertising</a>
        <a href="http://ologycorp.com/content/careers">Careers</a>
        <a href="{{ path("_website_terms") }}">Terms</a>
        <a href="http://ologycorp.com/content/publishers">Publishers</a>
        <a href="http://ologycorp.com/content/press">Press</a>
        <a href="{{ path("_website_faq") }}">FAQ</a>
        <p>&copy; 2012 Ology</p>
    </div>
</div>