<div>
    <p>You can post from anywhere using the Ology bookmarklet!</p>
    <div id="ologize-button-box">
        <a title="Ologize Button" href="javascript:void((function(){var%20s=document.createElement('script');s.setAttribute('src','http://{{ app.request.host }}/bundles/ologysocial/js/ologize_it/ologize_bookmarklet.js?v='+Math.random()*100000);s.setAttribute('type','text/javascript');s.setAttribute('charset','UTF-8');s.setAttribute('title','ologize_it');document.body.appendChild(s)})());" onclick="alert('Drag this button to your Bookmarks bar'); return false;">
            Ologize it
        </a>
    </div>
    <p class='text-center'>Drag this button to your Bookmarks bar.</p>
    <p>Want to install the Ologize button in Chrome?</p>
    <ol>
        <li>Bring up your Bookmarks by clicking the <strong>Wrench Icon > Bookmarks > Show bookmarks bar</strong></li>
        <li>Drag the “Ologize it” button to your Bookmarks Bar</li>
        <li>If you see a cool picture or interesting story online, push the Ologize button to share it on Ology.</li>
    </ol>
    <p>The Ologize button allows you to take the images and articles you like from other websites and quickly post them on Ology. And don’t worry. We give credit where credit is due. When you ologize from another website, we always copy the source link so everyone knows where to find the original post.</p>
</div>