<div id="register-prompt-box">
        <div class="register-prompt-splash">
            <div id="register-prompt-title">
            </div>
            <div id="register-prompt-sentence">
            </div>    
        </div>
        <br/>
        <div class="ology-fb-button" style="text-align: center">
              {% include 'OlogySocialBundle:FrontEnd:facebook_signin.html.twig' %}
         </div>
            <div class="small-splash">
                <p align="center"> Don't worry, we'll never be evil with your information</p>
                <p align="center"> -or-</p>
            </div>
        <p align="center">
            {% include 'OlogySocialBundle:FrontEnd:twitter_signin.html.twig' %}
        </p>
        <div id="sign-in-link">
             <a class="almost-there-popup-open">or sign in with email</a>
        </div>
        <span class="register-prompt-close">x</span>
</div>