<div class="success-popup" title="Success!">
    {% include 'OlogySocialBundle:FrontEnd:social_network_share.html.twig'%}
</div>

{% block pagescripts %}
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "a9e6fce8-401e-4d4f-8fe8-300569a0aaa5", tracking: "google"}); </script>
{% endblock %}