{% extends 'OlogySocialBundle:FrontEnd:base.html.twig' %}
{% block title %}Ology is all about passion{% endblock %}


{% block body %}
<div id="container">
<br />
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
</div>
{% endblock %}
