{% extends 'OlogySocialBundle:FrontEnd:base.html.twig' %}
{% block title %}Ology is all about passion{% endblock %}

{% block body %}
<div id="container">
<br />
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
</div>
{% endblock %}