{% extends 'OlogySocialBundle:FrontEnd:base.html.twig' %}
{% block title %}Ology is all about passion{% endblock %}

{% block body %}
<div id="container">
{% include "OlogyUserBundle:Resetting:reset_content.html.twig" %}
</div>
{% endblock %}
