Featured Ologies - by ID, separated by dashes (e.g. 1-2-3-4)

<form action="{{ path('_featured_store') }}" method="post" {{ form_enctype(form) }}>
    {{ form_rest(form) }}

    <input type="submit" />
</form>