<h1>THIS IS NO LONGER IN USE</h1>
Fake most viewed posts - by ID, separated by dashes (e.g. 1-2-3-4)

<form action="{# path('_mostviewed_store') #}" method="post" {{ form_enctype(form) }}>
    {{ form_rest(form) }}

    <input type="submit" />
</form>